/* src/pages/Login.css */
body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif !important;

  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}
.login-wrapper {
  background: white;
  box-shadow: 0 2px 10px #00206042;
  padding: 40px 20px;
  border-color: #002060;
  border: 1px solid;
}

.login-form {
  background: white;
  /* padding-top: 20px ;
  padding-right: 30px;
padding-left: 20px;
padding-bottom: 20px; */
  border-radius: 8px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  width: 300px;
  text-align: center;
}

.login-input {
  width: 100% !important;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #002060;
  /* border-radius: 4px; */
  font-size: 14px;
}
.login-input::placeholder {
  color: #002060;
}

.login-input:focus {
  border-color: #007bff;
  outline: none;
}

.login-logo {
  width: 220px; /* Adjust size as needed */
  /* margin-bottom: 20px; */
}
.login-wrapper h2 {
  text-align: center;
  color: #002060;
  font-weight: normal;
}
.login-wrapper p {
  color: #002060;
  margin: 0 0 10px 0;
}
.login-wrapper a{
  color: #FF364A;
  margin: 0;
}
.login-image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.error-message {
  color: #FF364A;
  font-size: 12px;
  margin-bottom: 15px;
}
button.login-button {
  margin-bottom: 25px;
}

.login-button {
  width: auto;
  padding: 11px 40px;
  background-color: #FF364A;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.login-button:hover {
  background-color: #FF364A;
}
.ss_popup_close_btn {
  background: #002060 !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border-radius: 2px;
  padding: 6px 10px;
}
.headericons img {
  max-height: 22px;
  min-height: 22px;
  display: block;
}

.or-separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.or-separator .line {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.or-separator .or-text {
  margin: 0 10px;
  font-weight: bold;
  color: #666;
}

.google-login {
  text-align: center;
}


.password-container {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* space for the eye icon */
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.toggle-password-btn:hover {
  color: #000;
}



