/* @media(min-width:1240px) {
    .flow-container .react-flow__viewport {
        transform: none !important;
    }
}
@media(min-width:1490px) and (max-width:1530px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.95) !important;
    }
}
@media(min-width:1450px) and (max-width:1489px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.92) !important;
    }
}
@media(min-width:1366px) and (max-width:1450px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.80) !important;
    }
}
@media(min-width:1240px) and (max-width:1365px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.7) !important;
    }
}
@media(min-width:1024px) and (max-width:1240px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.55) !important;
    }
}
@media(min-width:400px) and (max-width:1024px) {
    .flow-container .react-flow__viewport {
        transform: scale(0.5) !important;
    }
} */
.flow-container {
    overflow: hidden;
}

.flow-container .react-flow__viewport {
    transform: none !important;
}

.customHandle {
    width: 8px !important;
    height: 8px !important;
    border: 2px solid #007bff !important;
    background: #007bff !important;
    border-radius: 4px !important;
    cursor: nwse-resize !important;
}

.customLine {
    border-color: #007bff !important;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #002060;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}