.main-app{
  height: 100%;
  width: 100%;
}


html {
  --zoom-level: 1;
  transform: scale(var(--zoom-level));
  transform-origin: 0 0;
  width: calc(100% / var(--zoom-level));
  height: calc(100% / var(--zoom-level));
  transform-origin: top center !important;
}

